block new-arrive 
    section.new-arr.text-center.pb-5
        h1.main-title.pt-5.pb-5 New Arrive
        .container
            .row
            ul.carousel
                li.col-12.col-md-6.col-lg-3.card
                .dot-box
                    .dot-image
                    a.product-link(href='')
                    .image
                        img(src='./img/prod/product_01.jpg' alt='')
                    .image.hover
                        img(src='./img/prod/product_01b.jpg' alt='')
                    ul.actions
                        li
                        a(href='')
                            i.fa-regular.fa-star
                        li
                        a(href='')
                            i.fa-solid.fa-right-left
                        li
                        a(href='')
                            i.fa-regular.fa-eye
                    .label
                        span -25%
                    h6 The Sweater in tosca
                    span.old-price.text-decoration-line-through $62.00
                    span.new-price $49.00
                li.col-12.col-md-6.col-lg-3.card
                .dot-box
                    .dot-image
                    a.product-link(href='')
                    .image
                        img(src='./img/prod/product_02.jpg' alt='')
                    .image.hover
                        img(src='./img/prod/product_02b.jpg' alt='')
                    ul.actions
                        li
                        a(href='')
                            i.fa-regular.fa-star
                        li
                        a(href='')
                            i.fa-solid.fa-right-left
                        li
                        a(href='')
                            i.fa-regular.fa-eye
                    // <div class="label"><span>-25%</span></div>
                    h6 The Sweater in tosca
                    // <span class="old-price text-decoration-line-through">$62.00</span>
                    span.new-price $49.00
                li.col-12.col-md-6.col-lg-3.card
                .dot-box
                    .dot-image
                    a.product-link(href='')
                    .image
                        img(src='./img/prod/product_03.jpg' alt='')
                    .image.hover
                        img(src='./img/prod/product_03b.jpg' alt='')
                    ul.actions
                        li
                        a(href='')
                            i.fa-regular.fa-star
                        li
                        a(href='')
                            i.fa-solid.fa-right-left
                        li
                        a(href='')
                            i.fa-regular.fa-eye
                    .label
                        span -25%
                    h6 The Sweater in tosca
                    span.old-price.text-decoration-line-through $62.00
                    span.new-price $49.00
                li.col-12.col-md-6.col-lg-3.card
                .dot-box
                    .dot-image
                    a.product-link(href='')
                    .image
                        img(src='./img/prod/product_04.jpg' alt='')
                    .image.hover
                        img(src='./img/prod/product_04b.jpg' alt='')
                    ul.actions
                        li
                        a(href='')
                            i.fa-regular.fa-star
                        li
                        a(href='')
                            i.fa-solid.fa-right-left
                        li
                        a(href='')
                            i.fa-regular.fa-eye
                    // <div class="label"><span>-25%</span></div>
                    h6 The Sweater in tosca
                    // <span class="old-price text-decoration-line-through">$62.00</span>
                    span.new-price $49.00
                li.col-12.col-md-6.col-lg-3.card
                .dot-box
                    .dot-image
                    a.product-link(href='')
                    .image
                        img(src='./img/prod/product_05.jpg' alt='')
                    .image.hover
                        img(src='./img/prod/product_05b.jpg' alt='')
                    ul.actions
                        li
                        a(href='')
                            i.fa-regular.fa-star
                        li
                        a(href='')
                            i.fa-solid.fa-right-left
                        li
                        a(href='')
                            i.fa-regular.fa-eye
                    .label
                        span -25%
                    h6 The Sweater in tosca
                    span.old-price.text-decoration-line-through $62.00
                    span.new-price $49.00
                li.col-12.col-md-6.col-lg-3.card
                .dot-box
                    .dot-image
                    a.product-link(href='')
                    .image
                        img(src='./img/prod/product_06.jpg' alt='')
                    .image.hover
                        img(src='./img/prod/product_06b.jpg' alt='')
                    ul.actions
                        li
                        a(href='')
                            i.fa-regular.fa-star
                        li
                        a(href='')
                            i.fa-solid.fa-right-left
                        li
                        a(href='')
                            i.fa-regular.fa-eye
                    // <div class="label"><span>-25%</span></div>
                    h6 The Sweater in tosca
                    // <span class="old-price text-decoration-line-through">$62.00</span>
                    span.new-price $49.00
                li.col-12.col-md-6.col-lg-3.card
                .dot-box
                    .dot-image
                    a.product-link(href='')
                    .image
                        img(src='./img/prod/product_07.jpg' alt='')
                    .image.hover
                        img(src='./img/prod/product_07b.jpg' alt='')
                    ul.actions
                        li
                        a(href='')
                            i.fa-regular.fa-star
                        li
                        a(href='')
                            i.fa-solid.fa-right-left
                        li
                        a(href='')
                            i.fa-regular.fa-eye
                    .label
                        span -25%
                    h6 The Sweater in tosca
                    span.old-price.text-decoration-line-through $62.00
                    span.new-price $49.00
                li.col-12.col-md-6.col-lg-3.card
                .dot-box
                    .dot-image
                    a.product-link(href='')
                    .image
                        img(src='./img/prod/product_08.jpg' alt='')
                    .image.hover
                        img(src='./img/prod/product_08b.jpg' alt='')
                    ul.actions
                        li
                        a(href='')
                            i.fa-regular.fa-star
                        li
                        a(href='')
                            i.fa-solid.fa-right-left
                        li
                        a(href='')
                            i.fa-regular.fa-eye
                    // <div class="label"><span>-25%</span></div>
                    h6 The Sweater in tosca
                    // <span class="old-price text-decoration-line-through">$62.00</span>
                    span.new-price $49.00
