$h-header: 80px;
$main-color: #e3e6f3;
$hover-color: #088178;
$gray-color: #68708013;
$main-boxShadow: rgba(0, 0, 0, 0.06);
$hover-boxShadow: 10px 19px 55px rgba(70, 60, 222, 0.1);
$main-transition: 0.3s;
$font-family: "Prata", serif;
$color-black: black;
$color-white: white;